In [1]:
#ASSIGNMENT APPENDING DATAFRAME
import pandas as pd

In [8]:
trns = pd.read_csv('transactions.csv', parse_dates=["date"])
trns

            date  store_nbr  transactions
0     2013-01-01         25           770
1     2013-01-02          1          2111
2     2013-01-02          2          2358
3     2013-01-02          3          3487
4     2013-01-02          4          1922
...          ...        ...           ...
83483 2017-08-15         50          2804
83484 2017-08-15         51          1573
83485 2017-08-15         52          2255
83486 2017-08-15         53           932
83487 2017-08-15         54           802

[83488 rows x 3 columns]

In [12]:
trns.set_index('date')

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111
2013-01-02          2          2358
2013-01-02          3          3487
2013-01-02          4          1922
...               ...           ...
2017-08-15         50          2804
2017-08-15         51          1573
2017-08-15         52          2255
2017-08-15         53           932
2017-08-15         54           802

[83488 rows x 2 columns]

In [13]:
trns.dtypes

date            datetime64[ns]
store_nbr                int64
transactions             int64
dtype: object

In [16]:
with pd.ExcelWriter('Data For Chandler3.xlsx') as writer:
    for year in range (2013, 2017):
        trns.loc[trns['date'].dt.year == year].to_excel(writer, sheet_name=str(year))

Exception ignored in: <function ZipFile.__del__ at 0x000002AF0914FE20>
Traceback (most recent call last):
  File "C:\Users\ASUS\anaconda3\Lib\zipfile.py", line 1874, in __del__
    self.close()
  File "C:\Users\ASUS\anaconda3\Lib\zipfile.py", line 1891, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

In [20]:
trns = pd.concat(
    pd.read_excel('Data For Chandler2.xlsx', sheet_name=[1,2]), ignore_index=True
).drop(['Unnamed:0'], axis=1)

BadZipFile: File is not a zip file