In [1]:
import numpy as np
import pandas as pd

In [2]:
array = np.arange(10)
pandas_series = pd.Series(array)
pandas_series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [12]:
pandas_series.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
pandas_series.index

RangeIndex(start=0, stop=10, step=1)

In [27]:
pandas_series.name = ('yes')
pandas_series

11    0
12    1
13    2
14    3
15    4
16    5
17    6
18    7
19    8
20    9
Name: yes, dtype: int32

In [29]:
pandas_series.index = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
pandas_series

11    0
12    1
13    2
14    3
15    4
16    5
17    6
18    7
19    8
20    9
Name: yes, dtype: int32

In [47]:

pandas_series2 = pd.Series(np.arange(5), name='new series')
pandas_series2.index

RangeIndex(start=0, stop=5, step=1)

In [60]:
pandas_series2.index = (0, 5, 1, 3, 8)
pandas_series2

0    0
5    1
1    2
3    3
8    4
Name: new series, dtype: int32

In [4]:
oil = pd.read_csv("../oil.csv").dropna()
oil_array = np.array(oil['dcoilwtico'].loc[1000:1100])
oil_array

array([46.66, 45.32, 44.66, 44.07, 44.88, 44.96, 45.2 , 44.62, 43.39,
       43.29, 45.86, 45.56, 45.37, 45.69, 47.48, 48.07, 46.72, 46.72,
       45.66, 45.29, 49.41, 51.08, 51.7 , 51.72, 50.95, 49.85, 50.84,
       51.51, 52.74, 52.99, 51.01, 50.9 , 51.93, 52.13, 52.22, 51.44,
       51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36, 53.26, 53.77,
       53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45, 51.12, 51.39,
       52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63, 52.75, 53.9 ,
       53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84, 52.96, 53.21,
       53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99, 54.04, 54.  ,
       53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75, 48.05, 47.95,
       47.24, 48.34, 48.3 , 48.34, 47.79, 47.02])

In [5]:
oil_series = pd.Series(oil_array, name = 'oil_series')
oil_series

0     46.66
1     45.32
2     44.66
3     44.07
4     44.88
      ...
91    48.34
92    48.30
93    48.34
94    47.79
95    47.02
Name: oil_series, Length: 96, dtype: float64

In [6]:
oil_series.name

'oil_series'

In [7]:
oil_series.dtype

dtype('float64')

In [8]:
oil_series.size

96

In [9]:
oil_series.index

RangeIndex(start=0, stop=96, step=1)

In [10]:
oil_series.mean()

50.661458333333336

In [11]:
np.median(oil_series)

52.07

In [12]:
oil_series.astype('int64')

0     46
1     45
2     44
3     44
4     44
      ..
91    48
92    48
93    48
94    47
95    47
Name: oil_series, Length: 96, dtype: int64

In [13]:
oil_series.astype('int64').mean()

50.15625

In [14]:
import numpy as np
import pandas as pd
oil = pd.read_csv("../oil.csv").dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array, name = 'oil_series')
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_series, Length: 100, dtype: float64

In [15]:
import numpy as np
import pandas as pd
oil = pd.read_csv("../oil.csv").dropna()
dates = np.array(oil['date'].iloc[1000:1100])
dates.size

100

In [16]:
oil_series.index = dates
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [17]:
oil_series.iloc[:10]

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
Name: oil_series, dtype: float64

In [18]:
oil_series.loc['2016-11-01':'2016-11-14']

Series([], Name: oil_series, dtype: float64)

In [19]:
#TO FIND MEAN OF THE FIRST 10 ROWS
oil_series.iloc[:10].mean()

52.765

In [20]:
#TO FIND MEAN OF THE LAST 10 ROWS
oil_series.iloc[-10:].mean()

47.13

In [21]:
# klo gini, dia awlnya dari awal, tapi berakhirnya dari sebelum 10 dari belakang
oil_series.iloc[:-10]

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-04-25    49.22
2017-04-26    49.22
2017-04-27    48.96
2017-04-28    49.31
2017-05-01    48.83
Name: oil_series, Length: 90, dtype: float64

In [22]:
# tpi klo gini, dia awlnya dari 10 dari belakang, berakhirnya sampe habis (?)
oil_series.iloc[-10:]

2017-05-02    47.65
2017-05-03    47.79
2017-05-04    45.55
2017-05-05    46.23
2017-05-08    46.46
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, dtype: float64

In [23]:
oil_series.loc['2017-01-01':'2017-01-07']

2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
Name: oil_series, dtype: float64

In [24]:
oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_series, dtype: float64

In [4]:
# ASSIGMENT SORTING AND FILTERING
# IMPORT TOOLS, READ DATASET, CREATE ARRAY FOR VALUE, CREATE PANDA SERIES FROM ARRAY,CREATE ARRAY FOR INDEX, ASSIGN INDEX TO VALUES

import numpy as np
import pandas as pd
oil = pd.read_csv("../oil.csv").dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array, name = 'oil_series')
dates = np.array(oil['date'].iloc[1000:1100])
oil_series.index = dates
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [36]:
oil_series.size

100

In [38]:
oil_series.sort_values()

2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
              ...
2017-02-28    54.00
2016-12-28    54.01
2017-02-21    54.02
2017-02-27    54.04
2017-02-23    54.48
Name: oil_series, Length: 100, dtype: float64

In [41]:
# SORT LOWEST VALUES, FILTER TO ONLY 10 VALUES, SORT AGAIN BASED ON THE MOST RECENT FROM THE LOWEST VALUE
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_series, dtype: float64

In [58]:
# RETURN TO RIGINAL DATA 
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [64]:
# provided dates
dates_provided = [
    '2016-12-22',
    '2017-05-03',
    '2017-01-06',
    '2017-03-05',
    '2017-02-12',
    '2017-03-21',
    '2017-04-14',
    '2017-04-15',
]
dates_provided

['2016-12-22',
 '2017-05-03',
 '2017-01-06',
 '2017-03-05',
 '2017-02-12',
 '2017-03-21',
 '2017-04-14',
 '2017-04-15']

In [86]:
# assign dates provided to mask, what will be shown i boolean value, need to specify the index.
# therefore, put .index after the series name 
mask = (oil_series.index.isin(['2016-12-22',
 '2017-05-03',
 '2017-01-06',
 '2017-03-05',
 '2017-02-12',
 '2017-03-21',
 '2017-04-14',
 '2017-04-15'])) & (oil_series <= 50)

In [87]:
# show the location or the real value based in the mask (filter)
oil_series.loc[mask]

2017-03-21    47.02
2017-05-03    47.79
Name: oil_series, dtype: float64

In [88]:
# ASSIGNMENT SERIES OPERATION
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [37]:
#add 10% of the oil price and add 2 dollar more
oil_series * 1.1 + 2

12    59.442
12    58.584
12    59.178
12    59.211
12    60.102
       ...
5     52.424
5     54.008
5     54.591
5     54.613
5     55.746
Name: oil_series, Length: 100, dtype: float64

In [93]:
#finding max price
max_price = oil_series.max()
max_price

54.48

In [109]:
#create a series that represent the percent difference between each price and max price
#first max price - oil price to find the different in number
#after that the number is divided by oil_series value to find the portion relative to max price (to find out how much less is the intial price compared to max price)
#after that value times 100 to find the percentage in value
#after that add % in value column 
new_price_series = (oil_series - max_price) / max_price * 100
new_price_series

2016-12-20    -4.148311
2016-12-21    -5.580029
2016-12-22    -4.588840
2016-12-23    -4.533774
2016-12-27    -3.046990
                ...
2017-05-09   -15.859031
2017-05-10   -13.215859
2017-05-11   -12.243025
2017-05-12   -12.206314
2017-05-15   -10.315712
Name: oil_series, Length: 100, dtype: float64

In [144]:
#practice
new_price_series.astype(str)
new_price_series

2016-12-20    -4.148311
2016-12-21    -5.580029
2016-12-22    -4.588840
2016-12-23    -4.533774
2016-12-27    -3.046990
                ...
2017-05-09   -15.859031
2017-05-10   -13.215859
2017-05-11   -12.243025
2017-05-12   -12.206314
2017-05-15   -10.315712
Name: oil_series, Length: 100, dtype: float64

In [141]:
#practice
npsap = pd.Series(new_price_series.astype(str))
npsap

0    <class 'str'>
dtype: object

In [45]:
#practice
oil_series = oil_series.astype(str)
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: object

In [149]:
#practice
add_percent = oil_series + ('%')
add_percent

2016-12-20    52.22%
2016-12-21    51.44%
2016-12-22    51.98%
2016-12-23    52.01%
2016-12-27    52.82%
               ...
2017-05-09    45.84%
2017-05-10    47.28%
2017-05-11    47.81%
2017-05-12    47.83%
2017-05-15    48.86%
Name: oil_series, Length: 100, dtype: object

In [70]:
#extract the month from the string dates in index
#after that, convert it into panda, and convert the data type into integer
month = oil_series.index.str[5:7]
month_series = pd.Series(month.astype(int))
month_series

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Length: 100, dtype: int64

In [71]:
#practice
oil_series2 = pd.Series(oil_series)
oil_series2.index = month
oil_series2

12    52.22
12    51.44
12    51.98
12    52.01
12    52.82
      ...
05    45.84
05    47.28
05    47.81
05    47.83
05    48.86
Name: oil_series, Length: 100, dtype: float64

In [69]:
# ASSIGNMENT SERIES AGGREGATION USING MY OWN METHOD
oil_series2[oil_series2.index == "03"]
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [72]:
#practice
oil_series2[oil_series2.index == "03"].sum()

1134.5399999999997

In [80]:
#practice
oil_series2[oil_series2.index.isin(['01','02'])].count()

39

In [112]:
# ASSIGNMENT: SERIES AGGREGATION
import numpy as np
import pandas as pd
oil = pd.read_csv("../oil.csv").dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array, name = 'oil_series')
dates = np.array(oil['date'].iloc[1000:1100])
oil_series.index = dates
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [66]:
# calculate sum in month of march
oil_series[oil_series.index.str[5:7] == '03'].sum().round(2)

1134.54

In [68]:
# calculate mean in month of march
oil_series[oil_series.index.str[5:7] == '03'].mean()

49.32782608695651

In [92]:
oil_series[oil_series.index.str[6:7].isin(['1','2'])].count()

0

In [88]:
oil_series2[oil_series2.index.isin(['01','02'])].count()

39

In [109]:
oil_series.quantile([0.1 , 0.9])

0.1    47.299
0.9    53.811
Name: oil_series, dtype: float64

In [108]:
# find frequency of value, an normalize to percent
oil_series.astype(int).value_counts(normalize=True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: oil_series, dtype: float64

In [114]:
# ASSIGNMENT MISSING DATA
# replacing 51.44 and 47.83 with missing values

import numpy as np
import pandas as pd
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [117]:
#practice
#finding the value needed
mask = oil_series.isin([51.44, 47.83])
salah = oil_series[mask]
salah

2016-12-21    51.44
2017-05-12    47.83
Name: oil_series, dtype: float64

In [125]:
#replacing the numbers with NaN, missing values
new_oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), np.NaN)
new_oil_series

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [148]:
#finding frequency of missing value
new_oil_series.isna().sum()

2

In [152]:
#replacing NaN with median
new_oil_series.fillna(new_oil_series.median())

2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_series, Length: 100, dtype: float64

In [209]:
# ASSIGNMENT APPLY AND WHERE
new_oil_series.index.name = 'dates'
new_oil_series

dates
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_series, Length: 100, dtype: float64

In [210]:
index_name = new_oil_series.index.name
print("Index Name:", index_name)

Index Name: dates

In [166]:
#if the oil price is less than 90th percentile, than the result is buy
#if it is more than or NaN, then the result is wait
#create panda where function for the first cndition, then create the second condition
new_oil_series.where(~(new_oil_series < (new_oil_series.quantile(0.9))), "Buy").where(new_oil_series < (new_oil_series.quantile(0.9)), "Wait")

2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_series, Length: 100, dtype: object

In [204]:
#another way to do it is with lambda
new_oil_series.apply(lambda x: "Buy" if x < (new_oil_series.quantile(.9)) else "Wait")

2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_series, Length: 100, dtype: object

In [201]:
#Q2. create a series that multiply result by 0.9 in certain dates
# first create the definition

oil_seriez = pd.Series(
    np.where(
    new_oil_series.index.isin(['2017-05-10','2016-12-23']), 
    new_oil_series * 0.9, 
    new_oil_series * 1.1)
)

oil_seriez.index=dates
oil_seriez

2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Length: 100, dtype: float64

In [ ]:
#DONE---------------------------------------------------------------------------------------------------------------------------